* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
.body div{
  background: linear-gradient(rgba(5,7,12, 0.75));
}

/* .header-div {
    border: solid thin red;
} */

.swiper {
  width: auto;
  height: 100%;
}

